SOAPSERVICE/Service Descriptors/EmpProfessional.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/EmpProfessional/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpProfessional" targetNamespace="http://www.tibco.com/EmpProfessional/" xmlns:xsd1="http://www.EniqueSolutions/Employee_Details_POC/EmpProfessional" xmlns:xsd2="http://www.tibco.com/schemas/Account/SharedResources/Schemas/WebFault.xsd" xmlns:xsd3="http://www.example.org/Fault" xmlns:xsd4="http://www.EniqueSolutions/EmployeeDetailPOC/MainSystem">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/EmpProfessional/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationFault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.EniqueSolutions/Employee_Details_POC/EmpProfessional"
    		schemaLocation="../../CommonLog/Schemas/EmpProfessional.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/schemas/Account/SharedResources/Schemas/WebFault.xsd"
    		schemaLocation="../../CommonLog/Schemas/WebFault.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/Fault"
    		schemaLocation="../../CommonLog/Schemas/Fault.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.EniqueSolutions/EmployeeDetailPOC/MainSystem"
    		schemaLocation="../../CommonLog/Schemas/MainSystem.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="xsd4:EmpProfessionalReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="xsd4:RestResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationFault">
  	<wsdl:part name="parameters" element="tns:NewOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationFault1">
  	<wsdl:part name="parameters" element="xsd3:Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmpProfessional">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperationFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpProfessionalSOAP" type="tns:EmpProfessional">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.tibco.com/EmpProfessional/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpProfessional">
    <wsdl:port binding="tns:EmpProfessionalSOAP" name="EmpProfessionalSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
